{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true
      }
    ],
    "@babel/react"
  ],
  "env": {
    "production-esm": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "loose": true
          }
        ],
        "@babel/react"
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
